# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../autoservice\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProjects\autoservice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
